#ui-datepicker-div .regular a{
background: #B6CBFF;
}
#ui-datepicker-div .peak a{
background: #fba8b2;
}
#ui-datepicker-div .seasonal a{
background: #abb2f8;
}
#ui-datepicker-div .preseason a{
background: #acf7f2;
}
#ui-datepicker-div .discount a{
background: #f7f0aa;

}

